@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define your pulse animation */
@keyframes pulse-border {
  0% {
    box-shadow: 0 0 0 0px rgba(138, 245, 23, 0.7);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(5, 202, 202, 0);
  }
}

/* Apply the animation to an element */
.pulse-border-animation {
  animation: pulse-border 2s infinite;
}
